:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 60px;
}
.hero {
  text-align: left;
  padding: 160px 100px;
}
.hero h2 {
  font-family: unset;
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
}
.hero p {
  font-size: 16px;
  font-weight: normal;
  color: #272142;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2,
  p {
    font-size: 43px;
    text-align: center;
  }
  .hero {
    padding: 190px 45px;
  }
}
